{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
   <h1>Доступные категории</h1>
   <hr>
   {% if category %}
       <table>
           {% for cat in category  %}
           <tr>
               <td><a class="nav-link" href=/news/category/{{cat.id}}>{{ cat.category_name }}</a></td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Категорий нет!</h2>
   {% endif %}

<hr>
{% endblock content %}