{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

{% block content %}
   <h1>{{ post.post_title|censor }}</h1>
   <h5>{{ post.post_data_time|date:'M d Y' }} | Рэйтинг: {{ post.rating }} </h5>
   <hr>
   {% if post %}
       <h4>{{ post.autor }}</h4>
       <h6>{{ post.post_text|censor }}</h6>
       <hr>
            {% if not is_not_author %}
           <h4><a class="nav-link" href=/news/{{post.id}}/update>Изменить новость</a></h4>
           <h4><a class="nav-link" href=/news/{{post.id}}/delete>Удалить новость</a></h4>
            {% else %}
            <h4>Редатировать новость может только автор!</h4>
            {% endif %}
   {% else %}
       <h2>Новости нет!</h2>
   {% endif %}
<hr>
{% endblock content %}